#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#container {
    display: grid;
    margin:auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 5px;
}

.cell {
    display:flex;
    border: 1px solid black;
}