body {
    margin: 0;
    min-height: 100vh;
    background-image:url("images/6f2d34fe6c8746c56c14fbc55308ef99.jpg");
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 5px;
    background-color: white;
}

.cell {
    display:flex;
    border: 1px solid black;
}

.btn {
    font-size: 1rem;
    display: inline-block;
    /* background-color: transparent; */
    border: hsl(317 100% 54%) 0.125em solid;
    background-color: hsl(317 100% 54%);
    color: black;
    padding: 10px 50px;
}

.header {
    display: flex;
    justify-content: space-around;
}

#main_gif {
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-top: 10px;
}

* {
    /* outline: 2px solid red; */
}

.button-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.big {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

h1 {
    font-size: 56px;
    color: lightcoral;
}

p {
    font-size: 24px;
    color: lightgreen;
}